

body { padding-top: 60px }

.share-count { font-family: arial,sans-serif; font-size: 12px; background-color: #FFFFFF; border: 1px solid #CDD5E5; height: 14px; margin-left: 3px; padding: 1px 2px; position: relative; }
.share-count i, .share-count u { border-color: transparent #ccc transparent transparent; border-style: solid; border-width: 4px 5px 4px 0; display: block; height: 1px; position: absolute; top: 4px; left: -5px; }
.share-count i { border-right-color: white; left: -3px; z-index: 1; }      

.share-big { display:inline-block; margin-top: 10px; text-decoration: none; color: white; border-radius: 5px; padding: 10px }
.facebook.share-big { background: #4569B3;  box-shadow: 1px 1px 1px #4569B3; margin-right: 10px }
.twitter.share-big {  background: #47CAFD; box-shadow: 1px 1px 1px #47CAFD }
.facebook.share-big:hover { background: #365EAD; box-shadow: 1px 1px 1px #365EAD; color: white; text-decoration: none; }
.twitter.share-big:hover { background: #51C4ED; box-shadow: 1px 1px 1px #51C4ED; color: white; text-decoration: none; }

