<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg" role="navigation">
  <a class="navbar-brand" href="/">ActivateTemplate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-collapse"> 

    <%=
    ul_nav [
      ([current_account.name, [
          ['Edit profile', '/accounts/edit'],
          ['Sign out', '/accounts/sign_out'],
        ]
        ] if current_account),
      (['Sign up', '/sign_up'] if !current_account),
      (['Sign in', '/sign_in'] if !current_account)
      ], ul_class: 'navbar-nav ml-auto'
  %>

  </div>
</nav>        
