
<div class="media">
  <span class="pull-left">
    <img class="media-object" style="width: 100px" src="<%=account.picture ? account.picture.thumb('100x100').url : '/images/silhouette.png' %>" />
  </span>
  <div class="media-body">
    <h4 class="media-heading"><%=account.name%></h4>  
    <a href="mailto:<%=account.email%>"><%=account.email%></a>
  </div>
</div>

