
<div class="row-fluid">
  <div class="span8 offset2">
    <div style="text-align: center">

      <%  Account.providers.each { |provider| %>             
        <a class="btn" href="/auth/<%=provider.omniauth_name%>"><i class="icon-<%=provider.icon%>"></i> Sign in with <%=provider.display_name%></a>
      <% } %>

      <hr />

      <form class="form-horizontal" method="post" action="/auth/account/callback">
        <div class="control-group">
          <label class="control-label" for="email">Email</label>
          <div class="controls">
            <input type="text" id="email" name="email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input type="password" id="password" name="password">
          </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Sign in</button>
        </div> 

      </form>

    </div>

  </div>
</div>