
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div style="text-align: center">

      <%  Account.providers.each { |provider| %>             
        <a class="btn btn-default" href="/auth/<%=provider.omniauth_name%>"><i class="icon-<%=provider.icon%>"></i> Sign up via <%=provider.display_name%></a>
      <% } %>

      <hr />

      or <a href="<%=url(:accounts_new)%>">sign up with an email address</a>

    </div>
  </div>
</div>