<div class="row justify-content-center">
  <div class="col-auto">

    <a href="/accounts/new">Sign up with an email address</a>

    <% if !Provider.registered.empty? %>
      <p class="my-3 text-center">
        or   
      </p>

      <%  Provider.registered.each { |provider| %>             
        <a class="btn btn-primary" href="/auth/<%=provider.omniauth_name%>"><i class="fa fa-<%=provider.icon%>"></i> Sign up via <%=provider.display_name%></a>
      <% } %>
    <% end %>

  </div>
</div>